
/*****************************
 * R-KISS
 * Estilos extra
 * Desarrollado por MdeMoUcH
 * mdemouch@gmail.com
 * http://www.lagranm.com/
 *****************************/

.container{
	margin-top: 20px;
}

.contenido{
	margin-top: 0px;
	padding: 0px 20px 0px 20px;
}

.code_container{
	padding: 5px 25px 5px 25px;
	background-color: #f9f2f4;
    border-radius: 24px;
    color: #c7254e;
    font-size: 110%;
    min-height:140px;
}

.text_container{
	padding: 15px 25px 15px 25px;
	background-color: #F9F9F9;
    border-radius: 8px;
    color: #263E48;
}

.text_container a{
    color: #33379D;
}

.login_box{
	margin:auto;
	width:50%;
	text-align:right;
}

.centrado{
	text-align:center;
}

#form_host{
	padding:10px;
	text-align:center;
	width:80%;
	margin:auto;
}

#main_menu{
	padding-top:20px;
}

.action_pic{
	opacity: 1;
	filter: alpha(opacity=100);
}

.action_pic:hover{
	opacity: 0.3;
	filter: alpha(opacity=30);
}





